



<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #362f2f; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
}

.container {
  text-align: center;
}

.button-container {
  background-color: black; 
  border-radius: 10px;
  padding: 40px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
}


.button.button--secondary {
  background-color: darkgray;
  color: white;
  border-radius: 20px; 
  padding: 10px 20px;
}

.button.button--secondary:hover {
  background-color: lightgray;
  color: black;
}

.button.button--secondary:active {
  background-color: darkgray;
}

</style>
</head>
<body>
<div class="container">
  <div class="button-container">
    <h2>Instacommerce Login</h2> 
    <%= link_to "SIGN UP", new_account_registration_path, class: "button button--secondary" %>
    <%= link_to "SIGN IN", new_account_session_path, class: "button button--secondary"  %>
  </div>
</div>
</body>
</html>









