# <h1>Posts#show</h1>
# <p>Find me in app/views/posts/show.html.erb</p>

# <% if current_account.role == "basic_account" %>
#     <%= render template: "posts/basicaccount" %>
# <% else %>
#     <%= render template: "posts/businessaccount" %>
# <% end %>

